<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Kamp.az</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/">Ana səhifə</a>
          <a class="nav-link" href="/campgrounds">Düşərgələr</a>
          <a class="nav-link" href="/campgrounds/new">Yeni düşərgə</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currentUser) { %> 
          <a href="/login" class="nav-link">Daxil ol</a>
          <a href="/register" class="nav-link">Qeydiyyat</a>
          <% } else { %> 
          <a href="/logout" class="nav-link">Çıxış</a>
          <% } %> 
        </div>
      </div>
    </div>
  </nav>

  